*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: lightcoral;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.container{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

#arrow {
font-size: 35px;
cursor: pointer;
animation: blink 1s steps(5, start) infinite !important;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation{
    transition:300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p{
    max-width: 900px;
    margin: 0 auto;
}


body{
        background-image: url(./pexels-rahul-pandit-1933900.jpg);
        background-position: center center fixed;
        background-repeat: no-repeat;
        background-size: cover;
}

h1{
    font-size: 70px;
    color:oldlace;

}

h5{
    font-size: 40px;
    color:whitesmoke;
}

p{
    color: lightcoral;
    font-weight: bolder;
    font-size: larger;
    }


header{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

header ul{
    display: flex;
    font-size: 40px;

}
 
header li{
    padding:50px;
    
}

ul {
    list-style: none;
}

.form button{
    color:lightcoral;
    width: 15%;
    padding: 5px 10px;
    border:none;
    cursor:pointer;
    transition: 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -6px;
}

.form button:hover{
    background-color: black;
    color:brown;
    border:none;
}


.form input{
    width:30%;
    padding:5px 5px;
    border-radius: 5px 0px 5px 0px;
    background-color: lightcyan;
}


header ul li a:hover{
    color:brown;
    transition: 400ms;
}
